[submodule "ISOMAN/components/ISOAgLib-tutorial-private"]
	path = ISOMAN/components/ISOAgLib-tutorial-private
	url = https://github.com/Meisterschulen-am-Ostbahnhof-Munchen/ISOAgLib-tutorial-private.git
[submodule "ISOMAN/components/ISOAgLib"]
	path = ISOMAN/components/ISOAgLib
	url = https://github.com/Meisterschulen-am-Ostbahnhof-Munchen/ISOAgLib.git